@font-face {
	font-family: "Segoe";
	src: url("/doLittle/Visualizer/SegoeUI.ttf");
}

.doLittleSidebar {
	font-family: "Segoe", "Helvetica Neue", Helvetica, Arial, sans-serif;
	position:fixed;
	right:0px;
	margin-top:0px;
	width: 64px;
	height: 64px;
	background-color: #bf3a00;

	box-shadow: -4px 4px 20px #888888;
	border-collapse: separate;
}		

.doLittleSidebarIcons {
	position:fixed;
	right:-600px;
	margin-top:0px;
	width: 600px;
	height:100%;
	background-color: #bbbbbb;
	-webkit-transition: width 0.5s ease, right 0.5s ease, height 0.75s ease;  
	-moz-transition: width 0.5s ease, right 0.5s ease, height 0.75s ease;  
	-o-transition: width 0.5s ease, right 0.5s ease, height 0.75s ease;  
	-ms-transition: width 0.5s ease, right 0.5s ease, height 0.75s ease;  
	transition: width 0.5s ease, right 0.5s ease, height 0.75s ease;  			    

	box-shadow: -4px 4px 20px #888888;
	border-collapse: separate;
}

.doLittleSidebarContent
{
	background-color: #ffffff;
	width: 400px;
	padding: 5px;
	cursor: default;
}

.doLittleSidebarIconsVisible {
	right:-536px;
}

.doLittleSidebarFullSize {
	right:-400px;
}

.doLittleSidebarWithContent {
	right:0px;
}

.doLittleSidebar table
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-collapse:collapse;
}

.doLittleSidebar td
{
	margin: 0px;
	padding: 0px;
}

.doLittleSidebar tr
{
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}


.doLittleSidebar ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 200px;
    background-color: #bbbbbb;
}			

.doLittleSidebar li
{
	vertical-align: middle;
	height: 55px;
	line-height: 55px;
	border-bottom: 1px solid #666666;
}

.doLittleSidebar li:hover
{
	background-color:#777777;
}

.doLittleSidebarIconAndText
{
	overflow: hidden;
	cursor: pointer;
}

.doLittleSidebarIconAndText img
{
	position: fixed;
	margin: 4px;
}

.doLittleSidebarText
{
	position: absolute;
	margin-left: 65px;
	color: white;
	overflow: hidden;
	width: 136px;
}

.doLittleCounter {
	position: relative;
	top: -15px;
	right: 0px;
    left: 5px;
	min-width: 8px;
	height: 30px;
	line-height: 30px;
	margin-top: 0px;
	padding: 0 6px;
	font-weight: normal;
	color: white;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	border-radius: 11px;
	-webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
}

.doLittleCounterRed {
	background: #e23442;
	border: 1px solid #911f28;
	background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
	background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
	background-image: -o-linear-gradient(top, #e8616c, #dd202f);
	background-image: linear-gradient(to bottom, #e8616c, #dd202f);
}

.doLittleCounterGreen {
	background: #75a940;
	border: 1px solid #42582b;
	background-image: -webkit-linear-gradient(top, #8ec15b, #689739);
	background-image: -moz-linear-gradient(top, #8ec15b, #689739);
	background-image: -o-linear-gradient(top, #8ec15b, #689739);
	background-image: linear-gradient(to bottom, #8ec15b, #689739);
}

.doLittleCounterBlue {
	background: #3b8de2;
	border: 1px solid #215a96;
	background-image: -webkit-linear-gradient(top, #67a7e9, #2580df);
	background-image: -moz-linear-gradient(top, #67a7e9, #2580df);
	background-image: -o-linear-gradient(top, #67a7e9, #2580df);
	background-image: linear-gradient(to bottom, #67a7e9, #2580df);
}
